

.nav{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  align-items: center;
  height: 500px;
  width: 200px;
  border-right: 3px solid #6c859e;
}
.Linktags{
  font-family: 'Gotham Rounded', sans-serif;
  font-size: 24px;
  margin-left: 15px;
  text-decoration: none;
  justify-content: center;
  color: black;
}
