@font-face {
font-family: 'Gotham Medium';
Src: url('./fuentes/GothamMedium.ttf');
font-display: optional;
}
.approot{
  display: grid;
  grid-template-columns: 200px 1fr;
}
.secDiv{
  background: black;
  height: 90vh;
  padding: 30px;
}
.desloguear{
  top: 0;
  position: absolute;
  margin-top: 400px;
  border: none;
  background: black;
  padding: 10px;
  font-family: 'Gotham Medium', sans-serif;
  color: gold;
  margin-left: 20px;
}
